/* .negocios {
  // Limita la altura de la sección de negocios
  max-height: 400px;
  //Habilita el scroll en esta sección
  overflow-y: auto;
  // Espacio al final
  padding-bottom: 20px;
} */

ion-spinner {
  display: block;
  margin: 20px auto;
  width: 50px;
  height: 50px;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.badge-success {
  background-color: green;
  color: white;
}

.badge-danger {
  background-color: red;
  color: white;
}

.negocio-imagen {
  width: 100%;           /* Ocupa todo el ancho del contenedor */
  height: 200px;         /* Fijar una altura para las imágenes */
  object-fit: cover;     /* Recorta la imagen para que quepa sin deformarse */
  border-radius: 8px;    /* Bordes redondeados para mantener la consistencia con el card */
}
