<ion-content>
  <div *ngIf="negocio">
    <ion-card>
      <ion-img
        [src]="negocio.imagen ? negocio.imagen : 'assets/img/defecto.jpg'"
      ></ion-img>
      <ion-card-header>
        <ion-card-title>{{ negocio.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ negocio.telefono }}</p>
        <p>{{ negocio.email }}</p>

        <!-- Mostrar el estado de abierto/cerrado -->
        <div *ngIf="negocio.estado === 'Abierto'" class="badge badge-success">
          Abierto
        </div>
        <div *ngIf="negocio.estado === 'Cerrado'" class="badge badge-danger">
          Cerrado
        </div>

        <!-- Mostrar el horario de apertura y cierre -->
        <p>Horario: {{ negocio.hora_apertura }} - {{ negocio.hora_cierre }}</p>
      </ion-card-content>
    </ion-card>
    <!-- Botones de categorías -->
    <div *ngIf="categorias.length > 0">
      <ion-button
        *ngFor="let categoria of categorias"
        (click)="loadProductos(categoria.id)"
      >
        {{ categoria.nombre }}
      </ion-button>
    </div>

    <!-- Lista de productos de la categoría seleccionada -->
    <div *ngIf="productos.length > 0">
      <ion-list>
        <ion-item *ngFor="let producto of productos">
          <ion-thumbnail slot="start">
            <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ producto.nombre }}</h2>
            <p>{{ producto.descripcion }}</p>
            <p>Precio: {{ producto.precio | currency }}</p>
          </ion-label>
          <div class="contador">
            <ion-button
              (click)="decrementarCantidad(producto.id)"
              fill="outline"
              size="small"
              >-</ion-button
            >
            <span>{{ cantidades[producto.id] || 0 }}</span>
            <ion-button
              (click)="incrementarCantidad(producto.id)"
              fill="outline"
              size="small"
              >+</ion-button
            >
            <ion-button (click)="agregarAlCarrito(producto.id)">
              <ion-icon name="cart-outline"></ion-icon>
              Añadir al Carrito
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <!-- Mostrar mensaje si no hay productos -->
    <div *ngIf="categoriaSeleccionada && productos.length === 0">
      <ion-spinner *ngIf="productos.length === 0"> </ion-spinner>
      <ion-label>No hay productos en esta categoría</ion-label>
    </div>
  </div>

  <ion-spinner *ngIf="!negocio"></ion-spinner>
  <!-- Spinner mientras se carga el negocio -->
</ion-content>
