<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="itemsCarrito.length > 0; else carritoVacio">
    <ion-item *ngFor="let item of itemsCarrito">
      <ion-label>
        <h2>{{ item.producto.nombre }}</h2>  <!-- Aquí se usa la propiedad producto.nombre -->
        <p>Cantidad: {{ item.cantidad }}</p>  <!-- Aquí se muestra la cantidad -->
        <p>Precio: {{ item.precio_unitario | currency }}</p>  <!-- Aquí se muestra el precio unitario -->
      </ion-label>
      <ion-button color="danger" (click)="eliminarProducto(item.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Total</ion-label>
    <ion-note>{{ total | currency }}</ion-note>
  </ion-item>

  <ion-button expand="full" color="primary">Finalizar Compra</ion-button>
</ion-content>

<ng-template #carritoVacio>
  <ion-item>
    <ion-label>No hay productos en el carrito.</ion-label>
  </ion-item>
</ng-template>
