<div class="w-full h-128 py-8">
  <div
    class="relative bg-black text-yellow-300 rounded-lg overflow-hidden shadow-lg"
  >
    <button
      (click)="anterior()"
      class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-4 rounded-full hover:bg-gray-700"
    >
      &#10094;
    </button>


    <div class="overflow-hidden h-full ">
      <div
        class="flex transition-transform duration-500 h-full"
        [style.transform]="transformStyle"
      >
        <div
          *ngFor="let plato of platosPopulares"
          class="min-w-full flex items-stretch h-full"
        >
          
          <div class="w-1/2 p-12 flex flex-col justify-between h-full">
            <div class="mb-20"> 
              <h2 class="text-4xl font-bold">{{ plato.nombre }}</h2>
              <p class="mt-4 text-xl text-white font-bold">{{ plato.descripcion }}</p>
            </div>
            <div class="flex justify-center items-end w-full mt-auto">
              <button
                (click)="onPlatoClick(plato)"
                class="bg-green-500 hover:bg-green-700 text-yellow-300 font-bold py-3 px-6 rounded-lg text-lg w-full"
              >
                ¡Pídelo Ya!
              </button>
            </div>
          </div>
          
          
          <div class="w-1/2 h-full flex">
            <img
              [src]="plato.imagen"
              alt="{{ plato.nombre }}"
              class="w-full h-full object-cover"
            />
          </div>
          
        </div>
      </div>
    </div>

    <button
      (click)="siguiente()"
      class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 text-blue-900 p-4 rounded-full hover:bg-white hover:bg-opacity-75"
    >
      &#10095;
    </button>
  </div>
  <!-- Indicadores del Carrusel -->
  <div class="flex justify-center mt-4">
    <span
      *ngFor="let plato of platosPopulares; let i = index"
      (click)="irA(i)"
      class="cursor-pointer w-4 h-4 mx-2 rounded-full"
      [ngClass]="{
        'bg-white': currentIndex === i,
        'bg-gray-500': currentIndex !== i
      }"
    >
    </span>
  </div>
</div>


