/* ion-card {
  max-width: 300px; 
  margin: auto; 
} */

ion-img {
  height: 200px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

/* Si deseas que las imágenes sean responsivas */
@media (max-width: 600px) {
  ion-img {
    height: 30vw; /* Ajusta la altura de la imagen según el ancho de la pantalla */
  }
}

ion-spinner {
  display: block;
  margin: 20px auto;
  width: 50px;
  height: 50px;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.badge-success {
  background-color: green;
  color: white;
}

.badge-danger {
  background-color: red;
  color: white;
}
