<div
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
>
  <div class="bg-white rounded-lg p-8 w-full max-w-lg">
    <button
      (click)="onCerrarModal()"
      class="absolute top-4 right-4 bg-gray-500 text-white px-2 py-1 rounded-full"
    >
      &times;
    </button>
    <h2 class="text-2xl font-bold mb-4">
      Pedido {{ platoSeleccionado?.nombre }}
    </h2>
    <form (ngSubmit)="onHacerPedido()">
      <div class="mb-4">
        <label class="block text-gray-700">Dirección:</label>
        <input
          type="text"
          [(ngModel)]="direccion"
          name="direccion"
          class="w-full p-2 border border-gray-300 rounded-lg"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Cantidad:</label>
        <input
          type="number"
          [(ngModel)]="cantidad"
          name="cantidad"
          min="1"
          class="w-full p-2 border border-gray-300 rounded-lg"
          (input)="calcularTotal()"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Total a Pagar: S/ {{ total }}</label>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">¿Con cuánto vas a pagar?:</label>
        <input
          type="number"
          [(ngModel)]="conCuantoPaga"
          name="conCuantoPaga"
          class="w-full p-2 border border-gray-300 rounded-lg"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Método de Pago:</label>
        <select
          [(ngModel)]="metodoPago"
          name="metodoPago"
          class="w-full p-2 border border-gray-300 rounded-lg"
        >
          <option value="yape">Yape</option>
          <option value="efectivo">Efectivo</option>
        </select>
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          (click)="onCerrarModal()"
          class="mr-4 bg-gray-500 font-bold text-white px-4 py-2 rounded-lg"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="bg-green-500 hover:bg-green-700 font-bold text-white px-4 py-2 rounded-lg"
        >
          Hacer Pedido
        </button>
      </div>
    </form>
  </div>
</div>
