<div class="container mx-auto py-8">

  <app-slider
    [platosPopulares]="platosPopulares"
    (platoSeleccionado)="mostrarDetallesPlato($event)"
  ></app-slider>
  <div class="container mx-auto py-8" appEfectoHover>
    <app-modal-detalle-plato
      *ngIf="modalVisible && platoSeleccionado"
      [plato]="platoSeleccionado"
      (cerrarModal)="cerrarModal()"
    >
    </app-modal-detalle-plato>
  </div>

  <h1 class="text-4xl font-bold text-center">Nuestra Carta</h1>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 p-8"
  >
    <div *ngFor="let plato of platosPopulares" class="text-center">
      <div
        class="bg-white rounded-lg shadow-lg overflow-hidden cursor-pointer"
        (click)="seleccionarPlato(plato)"
      >
        <img
          [src]="plato.imagen"
          [alt]="plato.nombre"
          class="w-full h-40 object-cover"
        />
      </div>
      <h3 class="mt-4 text-lg font-semibold text-gray-800">
        {{ plato.nombre }}
      </h3>
    </div>
  </div>

  <app-modal-pedido
    *ngIf="modalParaPedidoVisible && platoSeleccionado"
    [platoSeleccionado]="platoSeleccionado"
    [cantidad]="cantidad"
    [direccion]="direccion"
    [total]="total"
    [conCuantoPaga]="conCuantoPaga"
    [metodoPago]="metodoPago"
    (cerrarModal)="cerrarModal()"
    (hacerPedido)="hacerPedido()"
  >
  </app-modal-pedido>
</div>
