<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/#">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <!-- Nuevo botón para iniciar sesión -->
      <ion-button routerLink="/login">
        <ion-icon name="log-in-outline"></ion-icon>
        Iniciar Sesión
      </ion-button>
      <!-- Nuevo botón para registrarse -->
      <ion-button routerLink="/register">
        <ion-icon name="person-add-outline"></ion-icon>
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>