<ion-footer *ngIf="shouldDisplayFooter()">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ng-container *ngIf="!isAuthenticated()">
        <ion-button routerLink="/login">
          <ion-icon name="log-in-outline"></ion-icon>
          Login
        </ion-button>
        <ion-button routerLink="/register">
          <ion-icon name="person-add-outline"></ion-icon>
          Register
        </ion-button>
      </ng-container>

      <ng-container *ngIf="isAuthenticated()">
        <!-- <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </ion-button> -->

        <ion-button id="present-alert">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
        <ion-alert
          trigger="present-alert"
          class="custom-alert"
          header="¿Estás seguro de cerrar sesión?"
          [buttons]="alertButtons"
        ></ion-alert>
        <ion-button routerLink="/carrito">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
