<ion-footer *ngIf="shouldDisplayFooter()">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón de Home -->
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Botones de Autenticación -->
    <ion-buttons slot="end">
      <!-- Si no está autenticado, muestra Login y Register -->
      <ng-container *ngIf="!isAuthenticated()">
        <ion-button routerLink="/login">
          <ion-icon name="log-in-outline"></ion-icon>
          Login
        </ion-button>
        <ion-button routerLink="/register">
          <ion-icon name="person-add-outline"></ion-icon>
          Register
        </ion-button>
      </ng-container>

      <!-- Si está autenticado, muestra Logout y Carrito -->
      <ng-container *ngIf="isAuthenticated()">
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
        <ion-button routerLink="/carrito">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
